@font-face {
	font-family: 'anudaw';
	src: url('../font/anudaw.eot');
	src: url('../font/anudaw.eot#iefix'),
		 url('../font/anudaw.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Amaranth-Italic';
	src: url('../font/Amaranth-Italic.eot');
	src: url('../font/Amaranth-Italic.eot#iefix'),
		 url('../font/Amaranth-Italic.ttf');
	font-weight: bold;
	font-style: normal;
}
body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
}
h1, h2, h3{
	font-family: 'Amaranth-Italic';
}
h2 {
	font-size: 40px;
	color: #34528e;
	text-align: center;
	text-transform: lowercase;
	letter-spacing: 1px;
}
	h2 span {
		text-transform: uppercase;
	}
h3 {
	font-size: 30px;
	margin: 15px 0;
}

.horizontal-list { /*Para ahorrar espacio en las listas horizontales junto con .horizontal-list li {float:left;}*/
	margin: 0;
	padding: 0;
	list-style-type: none;
}
	.horizontal-list li {
		float: left;
	}

.clear { /*Para ponerlo después de los float conflictivos*/
	clear: both;
}

#intro,
#cover-letter,
#skills,
#resources,
#contact,
#projects {
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 200px;
}

/********************************
           NAVIGATION BAR
**********************************/
#navigation {
	position: fixed;
	background: #93C12F;
	opacity: 0.8;
	left: 15px;
	bottom: 15px;
	width: 95px;
	padding: 0;
	cursor: pointer;
	z-index: 10;
}
	#navigation .main-logo {
		color: #000;
		font-size: 16px;
		font-family: 'anudaw';
		margin: 12px 0;
		text-align: center;
	}
	.menu {
		height: 0px; /* Efecto CSS más recomendable (para evitar jQuery) para slideToggle. Esto va junto al hover más adelante */
		list-style-type: none;
		padding: 0;
		margin: 0;
		overflow: hidden; /* Garantiza que no se desparrame el contenido que se sale de la caja que se ha definido, en este caso con height=0 (en algunos navegadores pasa) */
		-webkit-transition: height .3s;
		transition: height .3s;
	}
		#navigation #navigation-menu.show-menu,
		#navigation:hover .menu { /*Para hacer hover sobre #navigation y el efecto en .menu*/
			height: 282px;
		}	
		.menu a {
			padding: 15px 5px; /*Height defined with padding*/
			border-top: solid 1px #555;
			color: #000;
			font-weight: bold;
			font-size: 14px;
			display: block;
		}
			.menu a:hover {
				background: #83AC2A;
			}

/********************************
           HEADER
**********************************/
#header {
	padding: 15px 0;
	margin: 0 15px;
	background: #3a5792;
	border: 1px solid;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 100px;
	position: relative;
}
	#header p {
		color: #fff;
		font-size: 16px;
		margin: 0;
		padding-left: 70px;
		line-height: 100%; 
	}
	#header .email {
		color: #fff;
	}
		.email:hover {
			text-decoration: underline;
		}
	.social {
		position: absolute;
		right: 10px;
		top: 15px;		
	}
		.social li {
			width: 32px;
			height: 32px;
			font-size: 20px;
			text-align: center;
			background: #98854f;
			border: 1px solid;
			border-radius: 100%;
			margin-left: 10px;
			position: relative;
			-webkit-transition: background .3s;
			transition: background .3s;
		}
			.social li:hover {
				background: #867843;
			}			
			.social a {
				color: #fff;
				position: absolute;
				top: 6px;
				left: 6px;
			}

/********************************
           INTRO
**********************************/
#intro {
	margin-top: 50px;
	height: 100%;		
}
	#intro .main-logo {
		font-size: 110px;
		font-family: 'anudaw';
		letter-spacing: 10px;
		text-align: center;
		margin: 150px 0 50px;

	}
	.type-logo {
		
		font-size: 30px;
		color: #000;
		text-align: center;
		margin: 0 0 100px;
		text-transform: uppercase;
	}

/********************************
           COVER LETTER
**********************************/

#cover-letter {
	width: 600px;
	margin-bottom: 100px;
}
#cover-letter h2 {
	margin-top: 150px; 
}
 #cover-letter a, #cover-letter strong {
 	color: #2D477B;
	font-weight: bold;
 }
 	#cover-letter a:hover {
 		text-decoration: underline;
 	}

/********************************
           SKILLS
**********************************/
#skills {
	width: 960px;
	margin-bottom: 350px;	
}
#skills h2 {
	margin-bottom: 60px;
	padding-top: 200px;
}

#skills .horizontal-list li {
	width: 200px;
	height: 250px;
	padding: 0 20px;
	text-align: center;
}
	.skill-icon {
		font-size: 50px;
	}

/********************************
           RESOURCES
**********************************/
#resources {
	width: 1240px;	
}

	.resources-box {
		width: 300px;
		height: 140px;
		float: left;
		margin: 5px;
		color: #222;
		background: #abd450;
		position: relative;
		-webkit-transition: background .3s;
		transition: background .3s;
	}
		.resources-box:hover {
			background: #93C12F;
		}
		.resources-box p {
			font-size: 14px;
		}
		.resources-box h4, .resources-box p {
			text-align: right;
			margin: 10px 15px 15px 60px;		
		}
		.resources-box .resources-icon {
			font-size: 40px;
			position: absolute;
			left: 15px;
			bottom: 10px;
		}
			.resources-box .resources-icon.progress {
				left: 65px;
				bottom: 0px;
			}

/********************************
           PROJECTS
**********************************/
#projects {
	width: 800px;
}
	.time-done {
		font-size: 22px;		
		padding-top: 50px;
	}
		#timer {
			color: #2D477B;
		}
	.project-button {
		float: left;
		width: 350px;
		margin: 20px;
		padding: 10px 0;
		background: -webkit-linear-gradient(top, #5170ae, #35538f);
		color: #fff;
		font-size: 40px;
		border: solid 1px #000;
		border-radius: 15px;
		-webkit-transition: background .3s;
        transition: background .3s;
	}
		.project-button:hover {
			background: -webkit-linear-gradient(top, #415A8B, #273C68);
		}
		.project-button span {
			padding: 0 25px 0 40px;
		}
	#projects h3 {
		padding-top: 100px;
		color: #34528e;
	}
	.popular-project{
		width: 370px;
		float: left;
		margin-right: 12px;
		padding: 0 0 20px 14px;
		border: 2px solid #000;
		border-radius: 10px;
	}
		.popular-project h4 {
			text-align: center;
			color: #34528e;
		}				
		.popular-project img, .popular-project p {
			float: left;
		}
		.popular-project p {
			width: 110px;
			padding: 10px 20px 0;
		}
		.popular-project a {
			color: #34528e;
			font-weight: bold;
		}
		.popular-project a:hover {
			text-decoration: underline;
		}

/********************************
           CONTACT
**********************************/
#contact {
	width: 800px;
	text-align: center;
	margin-bottom: 280px;
}
	#contact h3 {
		font-size: 60px;
		font-family: Arial, Helvetica, sans-serif;
		color: #333;		
	}
	#contact a {
		font-size: 50px;
		color: #34528e;
	}
	#contact p {
		font-size: 40px;
		color: #333;
	}

/*******************
 	MEDIA QUERIES
 *********************/
@media (max-width: 1280px) {
	
	h2 {
		font-size: 30px;
	}

	#intro .main-logo {
			font-size: 100px; 
		}
	#intro .type-logo {
			font-size: 25px;
		}
	#resources {
		width: 940px;
	}
}

@media (max-width: 1000px) { 
	#resources {
		width: 620px;
	}
}

@media (max-width: 975px) { 
	#skills {
		width: 480px;
	}
		#skills h2 {
			padding-top: 120px;
		}
}

@media (max-width: 900px) { 
	#projects {
		width: 400px;
		}
		.popular-project {
			margin-bottom: 20px;
		}
	#contact {
		width: 680px;
	}	
		#contact h3 {
			font-size: 50px;		
		}
		#contact a {
			font-size: 40px;
		}
		#contact p {
			font-size: 30px;
		}	
}

@media (max-width: 765px) { 

	#intro .main-logo {
			font-size: 90px; 
		}
	#intro .type-logo {
			font-size: 20px;
		}
	#header p {
		text-align: center;		
	}
	.social {
		top: 75px;
	}

	#contact {
		width: 550px;
	}	
		#contact h3 {
			font-size: 40px;		
		}
		#contact a {
			font-size: 30px;
		}
		#contact p {
			font-size: 20px;
		}	
}

@media (max-width: 635px) { 

	#intro .main-logo {
			font-size: 65px; 
		}
	#cover-letter {
		width: 400px;	
	}
	#resources {
		width: 320px;
	}
	#contact {
		width: 300px;
	}
	#skills {
		width: 240px;
		margin: 0 auto;
	}
}

@media (max-width: 500px) { 
	#intro {
		padding-bottom: 40px;
		margin: 0;
	}
	#intro .type-logo {
		margin: 0;
	}
	h2 {
		font-size: 28px;
	}
	#projects {
		width: 320px
	}
		.time-done {
			font-size: 18px;
			padding: 0 10px;
		}
		.project-button {
			width: 300px;
			margin: 10px;			
			font-size: 30px;			
		}		
		#projects h3 {
			padding-top: 20px;
		}
		#projects h4 {
			text-align: left;
		}
		.popular-project{
			width: 270px;			
		}
			.popular-project p {
				width: 250px;
				margin: 0;
				padding: 10px 0 0;
			}
	
	#cover-letter,
	#skills,
	#resources,
	#contact,
	#projects {
		margin: 0 50px 0 0;
		float: right;		
	}	

	#cover-letter {
		width: 300px;
	}		
		#cover-letter h2 {
			margin: 0;
		}
}


@media (max-width: 450px) { 
	#navigation {
		display: none;
	}
	#header {
		border-bottom-left-radius: 30px;
	}
	#header p {
		padding: 0;
		font-size: 14px;
	}
	#intro .main-logo {
			font-size: 50px; 
		}
	#intro .type-logo {
			font-size: 18px;
		}
	#intro,
	#cover-letter,
	#skills,
	#resources,
	#contact,
	#projects {
		margin: 0 auto;
		float: none;		
	}
	#skills .horizontal-list li {
		float: none;
	}
		
}

@media (max-height: 700px) {
	#resources, #projects {
		margin: 20px auto;
	}
	#skills h2 {
		padding: 0;
		margin-bottom: 30px;
	}
	#projects h3 {
		padding-top: 20px;
	}
	.time-done {
		padding: 0 10px;
	}
}

@media (max-height: 480px) {	

		#navigation {
			bottom: 0;
		}
		#navigation #navigation-menu.show-menu,
		#navigation:hover .menu {
				height: 230px;
		}
			.menu a {
				padding: 8px 5px;
			}
}