@font-face {
	font-family: 'fredokaone';
	src: url('../font/fredokaone.eot');
	src: url('../font/fredokaone.eot#iefix'),
		 url('../font/fredokaone.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'leaguegothic';
	src: url('../font/leaguegothic.eot');
	src: url('../font/leaguegothic.eot#iefix'),
		 url('../font/leaguegothic.woff'),
		 url('../font/leaguegothic.ttf');
	font-weight: bold;
	font-style: normal;
}
body {
	background: #e6e2d8 url("../img/ricepaper_v3.png");
	font-family: Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
}
h1, h2, h3{
	font-family: 'leaguegothic';
}
h2 {
	font-size: 50px;
	color: #666;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h3 {
	font-size: 30px;
	margin: 15px 0;
}
hr {
	margin: 15px 10px 0 0;
	height: 1px;
	border-top: 1px solid #c2bda7;
	border-bottom: 1px solid #fcf7f1;
	background-color: #e1dbcb;
}

.horizontal-list { /*Para ahorrar espacio en las listas horizontales junto con .horizontal-list li {float:left;}*/
	margin: 0;
	padding: 0;
	list-style-type: none;
}
	.horizontal-list li {
		float: left;
	}

.clear { /*Para ponerlo después de los float conflictivos*/
	clear: both;
}

#intro,
#cover-letter,
#skills,
#resources,
#contact,
#projects {
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 200px;
}

/********************************
           NAVIGATION BAR
**********************************/
#navigation {
	position: fixed;
	background: #000;
	opacity: 0.8;
	left: 15px;
	bottom: 15px;
	width: 95px;
	padding: 0;
	cursor: pointer;
	z-index: 10;
}
	#navigation .logo {
		width: 70px;
		height: 70px;
		padding: 10px 12px 0 12px;
	}
	#navigation .type-logo {
		margin:0;
		text-align: center;
		color: #fff;
		padding-bottom: 5px;
		letter-spacing: 0;
	}
	.menu {
		height: 0px; /* Efecto CSS más recomendable (para evitar jQuery) para slideToggle. Esto va junto al hover más adelante */
		list-style-type: none;
		padding: 0;
		margin: 0;
		overflow: hidden; /* Garantiza que no se desparrame el contenido que se sale de la caja que se ha definido, en este caso con height=0 (en algunos navegadores pasa) */
		-webkit-transition: height .3s;
		transition: height .3s;
	}
		#navigation #navigation-menu.show-menu,
		#navigation:hover .menu { /*Para hacer hover sobre #navigation y el efecto en .menu*/
			height: 292px;
		}	
		.menu a {
			padding: 15px 5px; /*Height defined with padding*/
			border-top: solid 1px #555;
			color: #fff;
			font-size: 15px;
			display: block;
		}
			.menu a:hover {
				background: #222120;
			}

/********************************
           HEADER
**********************************/
#header {
	padding: 15px 0;
	margin: 0 15px;
	position: relative;
}
	#header p {
		color: #6b6860;
		font-size: 16px;
		margin: 0;
		line-height: 100%; /* Toma la altura de fuente establecida, en este caso de 16px; El efecto es que quedan más juntas sin necesidad de padding */
	}
	.social {
		position: absolute;
		right: 10px;
		top: 15px;		
	}
		.social li {
			width: 32px;
			height: 32px;
			font-size: 20px;
			text-align: center;
			background: #62615d;
			border-radius: 100%;
			margin-left: 10px;
			position: relative;
			-webkit-transition: background .3s;
			transition: background .3s;
		}
			.social li:hover {
				background: #474643;
			}			
			.social a {
				color: #e9e5db;
				position: absolute;
				top: 6px;
				left: 6px;
			}

/********************************
           INTRO
**********************************/
#intro {
	margin-top: 50px;
	height: 100%;		
}
	#intro .logo {
		width: 310px;
		height: 310px;
		margin: 0 auto;
		display: block; /*Las imágenes son inline, por lo que para que funcione el margin 0-auto, el display tiene que ser block*/
	}
	.type-logo {
		font-family: 'fredokaone';
		letter-spacing: -1px;
	}
	.type-logo span {
		font-family: Arial, sans-serif;
	}
	#intro .type-logo {
		color: #15120b;
		font-size: 85px;
		text-align: center;
		margin: 20px 0;
	}
	#intro .type-logo span {
		color: #9e8756;
	}

/********************************
           COVER LETTER
**********************************/

#cover-letter {
	width: 600px;
	margin-bottom: 100px;
}
#cover-letter h2 {
	margin-top: 150px; 
}
 #cover-letter a, #cover-letter strong {
 	color: #111;
	font-weight: bold;
 }

/********************************
           SKILLS
**********************************/
#skills {
	width: 960px;
	margin-bottom: 350px;
}
#skills h2 {
	margin-bottom: 60px;
	padding-top: 200px;
}

#skills .horizontal-list li {
	width: 200px;
	height: 250px;
	padding: 0 20px;
	text-align: center;
}
	.skill-icon {
		font-size: 50px;
	}

/********************************
           RESOURCES
**********************************/
#resources {
	width: 1240px;	
}

	.resources-box {
		width: 300px;
		height: 140px;
		float: left;
		margin: 5px;
		color: #333;
		background: #dfd9ce;
		position: relative;
		-webkit-transition: background .3s;
		transition: background .3s;
	}
		.resources-box:hover {
			background: #CBC1AF;
		}
		.resources-box p {
			font-size: 14px;
		}
		.resources-box h4, .resources-box p {
			text-align: right;
			margin: 10px 15px 15px 60px;		
		}
		.resources-box .resources-icon {
			font-size: 40px;
			position: absolute;
			left: 15px;
			bottom: 10px;
		}
			.resources-box .resources-icon.progress {
				left: 65px;
				bottom: 0px;
			}

/********************************
           PROJECTS
**********************************/
#projects {
	width: 800px;
}
	.time-done {
		font-size: 22px;
		padding-top: 50px;
	}
	.project-button {
		float: left;
		width: 350px;
		margin: 20px;
		padding: 10px 0;
		background: #333;
		color: #D5CDBE;
		font-size: 40px;
		border: solid 5px #CBC1AF;
		border-radius: 15px;
		-webkit-transition: background .3s;
        transition: background .3s;
	}
		.project-button:hover {
			background: #111;
		}
		.project-button span {
			padding: 0 25px 0 40px;
		}
	#projects h3 {
		padding-top: 100px;
	}
	.popular-project{
		width: 370px;
		float: left;
		margin-right: 14px;
		padding: 0 0 20px 14px;
		background: #dfd9ce;	
	}
		.popular-project h4 {
			text-align: center;
		}				
		.popular-project img, .popular-project p {
			float: left;
		}
		.popular-project p {
			width: 110px;
			padding: 10px 20px 0;
		}
		.popular-project a {
			color: #222;
			font-weight: bold;
		}
		.popular-project a:hover {
			text-decoration: underline;
		}

/********************************
           CONTACT
**********************************/
#contact {
	width: 800px;
	text-align: center;
	margin-bottom: 280px;
}
	#contact h3 {
		font-size: 60px;
		font-family: Arial, Helvetica, sans-serif;
		color: #333;		
	}
	#contact a {
		font-size: 50px;
		color: #660022;
	}
	#contact p {
		font-size: 40px;
		color: #333;
	}

/*******************
 	MEDIA QUERIES
 *********************/
@media (max-width: 1280px) {
	#intro .logo {
			width: 270px;
			height: 270px;
		}
	#intro .type-logo {
			font-size: 70px;
		}
	#resources {
		width: 940px;
	}
}

@media (max-width: 1000px) { 
	#resources {
		width: 620px;
	}
}

@media (max-width: 975px) { 
	#skills {
		width: 480px;
	}
		#skills h2 {
			padding-top: 120px;
		}
}

@media (max-width: 900px) { 
	#projects {
		width: 400px;
		}
		.popular-project {
			margin-bottom: 20px;
		}
	#contact {
		width: 680px;
	}	
		#contact h3 {
			font-size: 50px;		
		}
		#contact a {
			font-size: 40px;
		}
		#contact p {
			font-size: 30px;
		}	
}

@media (max-width: 765px) { 
	#intro .logo {
		width: 240px;
		height: 240px;
		margin-top: 40px;
		}
	hr {
		display: none;
	}
	#header p {
		text-align: center;		
	}
	.social {
		top: 75px;
	}

	#contact {
		width: 550px;
	}	
		#contact h3 {
			font-size: 40px;		
		}
		#contact a {
			font-size: 30px;
		}
		#contact p {
			font-size: 20px;
		}	
}

@media (max-width: 635px) { 
	#cover-letter {
		width: 400px;	
	}
	#resources {
		width: 320px;
	}
	#contact {
		width: 300px;
	}
}

@media (max-width: 635px) { 
	#skills {
		width: 240px;
	}
}

@media (max-width: 635px) { 
	#skills {
		width: 240px;
		margin: 0 auto;
	}
}

@media (max-width: 500px) { 
	h2 {
		font-size: 40px;
	}
	#projects {
		width: 320px
	}
		.time-done {
			font-size: 18px;
			padding: 0 10px;
		}
		.project-button {
			width: 300px;
			margin: 10px;			
			font-size: 30px;			
		}		
		#projects h3 {
			padding-top: 20px;
		}
		#projects h4 {
			text-align: left;
		}
		.popular-project{
			width: 270px;			
		}
			.popular-project p {
				width: 250px;
				margin: 0;
				padding: 10px 0 0;
			}
	#intro,
	#cover-letter,
	#skills,
	#resources,
	#contact,
	#projects {
		margin: 0 50px 0 0;
		float: right;		
	}	

	#cover-letter {
		width: 300px;
	}		
		#cover-letter h2 {
			margin: 0;
		}
}


@media (max-width: 450px) { 
	#navigation {
		display: none;
	}
	#intro,
	#cover-letter,
	#skills,
	#resources,
	#contact,
	#projects {
		margin: 0 auto;
		float: none;		
	}	
}

@media (max-height: 700px) {
	#resources, #projects {
		margin: 20px auto;
	}
	#skills h2 {
		padding: 0;
		margin-bottom: 30px;
	}
	#projects h3 {
		padding-top: 20px;
	}
	.time-done {
		padding: 0 10px;
	}
}

@media (max-height: 480px) {	

		#navigation {
			bottom: 0;
		}
		#navigation #navigation-menu.show-menu,
		#navigation:hover .menu {
				height: 230px;
		}
			.menu a {
				padding: 8px 5px;
			}
}